.foot {
    display: flex;
    flex-direction: row;
    font-size: 4rem;
    justify-content: space-between;
    text-align: center;
    padding: 3rem;
    border: 2px solid black;
    border-radius: 50px;
}

.der {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    gap: 2rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.der a:hover {
    transform: scale(1.1);
    color: blue;
}